<h1>Editing parser</h1>

<% form_for(@parser) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @parser %> |
<%= link_to 'Back', parsers_path %>