<h1>Listing parsers</h1>

<table>
  <tr>
    <th>Display Name</th>
    <th>Name</th>
  </tr>

<% @parsers.each do |parser| %>
  <tr>
    <td><%=h parser.display_name %></td>
    <td><%=h parser.name %></td>
    <td><%= link_to 'Show', parser %></td>
    <td><%= link_to 'Edit', edit_parser_path(parser) %></td>
    <td><%= link_to 'Destroy', parser, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New parser', new_parser_path %>