<h1>Editing paste</h1>

<% form_for(@paste) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_area :code %>
  </p>
  <p>
	<%= f.collection_select(:parser_id, Parser.all, :id, :display_name, { :include_blank => false }) %>
  </p>
  <p>
    <%= f.submit 'Paste' %>
  </p>
<% end %>

<%= link_to 'Show', @paste %> |
<%= link_to 'Back', pastes_path %>