<div id="content">
	<div id='code'>
		<div id='new-code-block'>
			<%= form_for(@paste) do |f| %>
				<% if @paste.errors.any? %>
				  <ul>
				    <% @paste.errors.full_messages.each do |msg| %>
				      <li><%= msg %></li>
				    <% end %>
				  </ul>
				<% end %>
					<div id="new-paste-box">
						<%= f.text_area :code, :rows => 26, :cols => 60, :class => 'code-paste-text-area' %>
					</div>
					<div id="new-paste-options">
						<%= f.collection_select(:parser_id, @parsers, :id, :display_name, { :include_blank => false }) %>
						<span class='spacer'></span>
						<span class='spacer'></span>
						<span class='spacer'></span>
						<span class='spacer'></span>
						<%= link_to 'Cancel', @paste%>
						<span class='spacer'> or </span>
						<%= f.submit 'Paste' %>
					</div>
			<% end %>
			<div style="clear: both"></div>
		</div>
	</div>
</div>
<div id="right">
	<%= render :partial => 'pasted_details' %>
	<br/>
	<%= link_to 'raw', paste_path(@paste, :format => :txt) %><span class='spacer'>|</span><%= link_to 'delete', @paste, :confirm => 'Are you sure?', :method => :delete %>
</div>
<div style="clear: both"></div>