<div id='code' class='twilight'>
  <table>
	<tr>
		<td>
			<pre id="source-numbers" class='twilight'><span class="Comment"><%= @paste.line_numbers %></span></pre>
		</td>
		<td>
			<%= @paste.highlighted_code %>
		</td>
	</tr>
  </table>
</div>
<p>
  <b>Language</b>
  <%=h @paste.parser.display_name %>
</p>

<%= link_to 'Edit', edit_paste_path(@paste) %> |
<%= link_to 'Back', pastes_path %>