<%= Uv.parse(@paste.code, 'xhtml', @paste.parser.name, true, 'twilight')%>
<br/>
<br/>
<p>
  <b>Highlighted Code:</b>
</p>

<br/>
<br/>
  <table>
	<tr>
		<td>
			DATA CELL 1 <pre><%= @paste.line_numbers %></pre>
		</td>
		<td>
			DATA CELL 2 <pre><%= @paste.highlighted_code %></pre>
		</td>
	</tr>
  </table>
<p>
  <b>Language</b>
  <%=h @paste.parser.display_name %>
</p>

<%= link_to 'Edit', edit_paste_path(@paste) %> |
<%= link_to 'Back', pastes_path %>