<div id="content">
	<div id='code' class='twilight'>
		<div id="code-head">
			<div id="code-theme">
				<span class="Comment">
					THEME
				</span>
			</div>
			<div style="clear: both;"></div>
		</div>
	  <table>
		<tr>
			<td>
				<pre id="source-numbers" class='twilight'><span class="Comment"><%= @paste.line_numbers %></span></pre>
			</td>
			<td>
				<%= @paste.highlighted_code %>
			</td>
		</tr>
	  </table>
	</div>
</div>
<div id="right">
	<span class="right-heading">Pasted</span><br/>
	as<span class='stat'><%= " #{@paste.parser.display_name}"%></span><br/>
	on<span class='stat'><%= " #{@paste.updated_at.to_datetime.strftime("%-1m/%-1d/%y")} " %></span><br/>
	at<span class='stat'><%= " #{@paste.updated_at.localtime.strftime("%I:%M %p (%Z)")}" %></span>
	<br/><br/>
	<%= link_to 'edit', edit_paste_path(@paste) %><span class='spacer'>|</span><%= link_to 'raw', paste_path(@paste, :format => :txt) %>
	<br/>	
</div>
<div style="clear: both"></div>

