<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= h(yield(:title) || "Paste") %></title>
  <%= javascript_include_tag 'prototype', 'application' %>
  <%= stylesheet_link_tag 'app' %>
  <%= stylesheet_link_tag 'syntax/all_hallows_eve.css' %>
  <%= stylesheet_link_tag 'syntax/blackboard.css' %>
  <%= stylesheet_link_tag 'syntax/cobalt.css' %>
  <%= stylesheet_link_tag 'syntax/eiffel.css' %>
  <%= stylesheet_link_tag 'syntax/mac_classic.css' %>
  <%= stylesheet_link_tag 'syntax/twilight.css' %>
</head>
<body>
	<div id="header">
		<div id="header-nav">
			<%= link_to 'New', new_paste_path %>
			<span class='spacer'></span>
			<span class='spacer'></span>
			<span class='spacer'></span>
			<span class='spacer'></span>
			<span class='spacer'></span>
			<%= link_to 'All', pastes_path %>
		</div>
	</div>		
	<div id="container">
			<%= yield %>
	</div>
</body>
</html>
