<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= h(yield(:title) || "Paste") %></title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'syntax/active4d.css' %>
  <%= stylesheet_link_tag 'syntax/all_hallows_eve.css' %>
  <%= stylesheet_link_tag 'syntax/amy.css' %>
  <%= stylesheet_link_tag 'syntax/blackboard.css' %>
  <%= stylesheet_link_tag 'syntax/brilliance_black.css' %>
  <%= stylesheet_link_tag 'syntax/brilliance_dull.css' %>
  <%= stylesheet_link_tag 'syntax/cobalt.css' %>
  <%= stylesheet_link_tag 'syntax/dawn.css' %>
  <%= stylesheet_link_tag 'syntax/eiffel.css' %>
  <%= stylesheet_link_tag 'syntax/espresso_libre.css' %>
  <%= stylesheet_link_tag 'syntax/idle.css' %>
  <%= stylesheet_link_tag 'syntax/iplastic.css' %>
  <%= stylesheet_link_tag 'syntax/lazy.css' %>
  <%= stylesheet_link_tag 'syntax/mac_classic.css' %>
  <%= stylesheet_link_tag 'syntax/magicwb_amiga.css' %>
  <%= stylesheet_link_tag 'syntax/pastels_on_dark.css' %>
  <%= stylesheet_link_tag 'syntax/slush_poppies.css' %>
  <%= stylesheet_link_tag 'syntax/spacecadet.css' %>
  <%= stylesheet_link_tag 'syntax/sunburst.css' %>
  <%= stylesheet_link_tag 'syntax/twilight.css' %>
  <%= stylesheet_link_tag 'syntax/zenburnesque.css' %>
</head>
<body>
	<div id="header">
		<div id="header-nav">
			<%= link_to 'New', new_paste_path %>
			<span class='pipe_spacer'></span>
			<span class='pipe_spacer'></span>
			<span class='pipe_spacer'></span>
			<span class='pipe_spacer'></span>
			<span class='pipe_spacer'></span>
			<%= link_to 'All Pastes', pastes_path %>
		</div>
	</div>		
	<div id="notice">
		<span style="color: green"><%= flash[:notice] %></span>
	</div>
	<div id="container">
			<%= yield %>
	</div>
</body>
</html>
