!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "end"}
  %head
    %meta{:http_equiv => 'content-type', :content => 'text/html;charset=UTF-8'}
    %title Code Paste
    = javascript_include_tag 'prototype', 'ZeroClipboard'
    = stylesheet_link_tag 'app'
    = stylesheet_link_tag 'syntax/blackboard.css'

  %body
    #header
      #header-nav
        = link_to 'New', root_path
        %span.spacer
        %span.spacer
        %span.spacer
        %span.spacer
        %span.spacer
        = link_to 'All', pastes_path
    #container
      - if flash[:notice]
        %p.flash-notice #{flash[:notice]}
      = yield
    .clear
    #footer
      #footer-links
        #footer-link-legal
          = link_to 'Legal', :controller => 'static', :action => 'legal'
        #footer-link-source
          = link_to 'Want to run your own version of this?', "http://github.com/thbishop/code-paste/tree/master"